<!--<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each# do |home| %>
      <tr>
        <td><%#= link_to 'Show', home %></td>
        <td><%#= link_to 'Edit', edit_home_path(home) %></td>
        <td><%#= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Home', new_home_path %>-->


<h1>Our Institute</h1>

AADHAR ACADEMY  FOR ALL COMPETITIONS is the premier institute with unmatched leadership in one day competition preparation. It is known for high standard of teaching since its inception in 2012. We delivered excellence in teaching and had made the institute a path setter in HARYANA.

We are a team of enthusiastic, dedicated and hardworking people with ultimate aim to sharpen the skill and shape the career of aspirants, preparing for one day competitions. We believe in team efforts and work for the holistic development of students at each level. We educate students to make them more efficient and goal oriented by our interactive.





<h1>Motivation and Inspirations Tips.....</h1>
<h2>Education is the most powerful weapon which you can use to change the world.<p>Nelson Mandela</p> </h2>
<h2>The roots of education are bitter, but the fruit is sweet.<p>Aristotle</p></h2>

<h2>An investment in knowledge pays the best interest.<p>Benjamin Franklin</p></h2>


<h2>Education is not preparation for life; education is life itself.<p>John Dewey</p></h2>


<h2>Good, better, best. Never let it rest. 'Til your good is better and your better is best.<p>St. Jerome</p></h2>

<h2>The way to get started is to quit talking and begin doing.<p>Walt Disney</p></h2>

<h2>In order to succeed, we must first believe that we can.<p>Nikos Kazantzakis</p></h2>

<h2>You are never too old to set another goal or to dream a new dream.<p>C. S. Lewis</p></h2>

