<!-- <div class="heading">
</div>

 -->
<h1>Contact us</h1>
<%= render 'form' %>

<%#= link_to 'Back', homes_path %>



<!-- <div class="footer">
  <div class="row">
    <div class="small-12 columns">
      <pre>Aadhar Academy  provide right direction for  future.
      </pre>
    </div>
  </div>
</div> -->